<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>sarlavha</title>
    <link rel="stylesheet" href="./css/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  </head>
  <body>
    <!-- XXX: header section -->
    <header class="main-header">
      <div class="container">
        <div class="main-header__brand">
          <a href="index.html">
          <img src="./images/logo.png" alt="logo">
          </a>
        </div>
        <nav class="main-navigation">
          <ul class="main-navigation__items">
            <li class="main-navigation__item active">
              <a href="#">Asosiy</a>
            </li>
            <li class="main-navigation__item">
              <a  href="#">Men haqimda</a>
            </li>
            <li class="main-navigation__item">
              <a href="#">Xizmatlar</a>
            </li>
            <li class="main-navigation__item">
              <a href="#">Mizojlar</a>
            </li>
            <li class="main-navigation__item">
              <a href="#">Portfolio</a>
            </li>
            <li class="main-navigation__item">
              <a href="#">Blog</a>
            </li>
            <li class="main-navigation__item">
              <a href="#">Sheriklar</a>
            </li>
            <li class="main-navigation__item">
              <a href="{% 'login.html' %}">Login</a>
            </li>
            <li class="main-navigation__item">
              <a href="{% 'sign.html' %}">Sign</a>
            </li>
          </ul>
        </nav>
      </div>
    </header>
    <!-- XXX: /Hearder section -->

    <!-- XXX: Main section -->
    <div class="main-banner">
      <div class="container">
        <section id="main-section" class="main-section">
          <div class="main-section__info">
            <h4 class="main-section__welcome to-uppercase">Salom hammaga</h4>
            <h1 class="main-section__introduction to-uppercase">Mening ism Shohjahon</h1>
            <h3 class="main-section__position to-uppercase">Start up dasturchi</h3>
            <div class="main-section__social-networks">
              <a href="#" class="main-section__social-networks__dribbble">
                <i class="fa-brands fa-dribbble"></i>
              </a>
              <a href="#" class="main-section__social-networks__youtube">
                <i class="fa-brands fa-youtube"></i>
              </a>
              <a href="#" class="main-section__social-networks__telegram">
                <i class="fa-brands fa-telegram"></i>
              </a>
            </div>

            <button type="button" class="main-section__action button to-uppercase" name="button">Ishlarimni ko'ring</button>
          </div>
          <div class="main-section__image">
            <img src="./images/me.png" alt="Mening suratim">
          </div>
        </section>
        <div class="clearfix"></div>
      </div>
    </div>
    <!-- XXX: /Main section -->

    <!-- XXX: Statistics -->
    <div class="container">
      <section id="statistics" class="statistics">
        <div class="statistics__item">
          <h3 class="statistics__number">
            15k+
          </h3>
          <p>
            Hursand mizojlar
          </p>
        </div>
        <div class="statistics__item">
          <h3 class="statistics__number">
            12k+
          </h3>
          <p>
            Yordam
          </p>
        </div>
        <div class="statistics__item">
          <h3 class="statistics__number">
            9/10
          </h3>
          <p>
            O'rtacha reyting
          </p>
        </div>

      </section>

    </div>
    <!-- XXX: /Statistics -->

    <!-- XXX: About me section -->
    <div class="container">
      <section id="about-me" class="about-me">
        <div class="about-me__image">
          <img src="./images/about-me.png" alt="About me image">
        </div>
        <div class="about-me__info">
          <h5 class="section-subtitle">
            Men haqimda
            <span class="blur-line"></span>
          </h5>
          <h3 class="section-title">
            Start up dasturchi
          </h3>
          <p class="about-me__discription">
            About me...
          </p>
          <button type="button" class="button about-me__action to-uppercase" name="button">
            Yuklab olish
          </button>
        </div>
      </section>
      <div class="clearfix"> </div>
    </div>
    <!-- XXX: /About me section -->

    <!-- XXX: Services section -->
    <div class="container">
      <section id="services">
        <h5 class="section-subtitle">Mening xizmatlarim<span class="blur-line"></span></h5>
        <h2 class="section-title">Men taklif<br>qiladigan xizmatlar</h2>
        <div class="services__cards">
          <div class="service-card">
            <img class="service-card__icon" src="./images/service-1.png" alt="Service card">
            <h5 class="service-card__title">Veb dasturlash</h5>
            <p class="service-card__discription">Savollaringizga to'liq javoblar va birinchi veb saytingizni yaratish uchun kerak bo'ladigan barcha resurslar</p>
            <a href="#" class="service-card__link">Ko'proq</a>
          </div>
          <div class="service-card">
            <img class="service-card__icon" src="./images/service-2.png" alt="Service card">
            <h5 class="service-card__title">Veb dasturlash</h5>
            <p class="service-card__discription">Savollaringizga to'liq javoblar va birinchi veb saytingizni yaratish uchun kerak bo'ladigan barcha resurslar</p>
            <a href="#" class="service-card__link">Ko'proq</a>
          </div>
          <div class="service-card">
            <img class="service-card__icon" src="./images/service-3.png" alt="Service card">
            <h5 class="service-card__title">Veb dasturlash</h5>
            <p class="service-card__discription">Savollaringizga to'liq javoblar va birinchi veb saytingizni yaratish uchun kerak bo'ladigan barcha resurslar</p>
            <a href="#" class="service-card__link">Ko'proq</a>
          </div>
        </div>
      </section>
    </div>
    <!-- XXX: /Services section -->

    <!-- XXX: Clients section -->
    <div class="container">
      <section  id="clients" class="clients">
        <h5 class="section-subtitle">Mening mijozlarim<span class="blur-line"></span></h5>
        <h2 class="section-title">Hurmatli mijozlarim <br> men haqimda</h2>
        <div class="client-items">
          <div class="client-item">
            <div class="client-item__image"><img src="./images/about-me.png" alt="Client image"></div>
            <div class="client-item__info">
              <h3 class="client-item__name">Alisher Sultonov</h3>
              <p class="client-item__position">Dasturchi</p>
              <p class="client-item__review"> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
              <div class="client-item__rate">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
              </div>
            </div>
          </div>
        </div>
      </section>
      <div class="clearfix"></div>
    </div>
    <!-- XXX: /Client section -->

    <!-- XXX: Portfolio section -->
    <div class="container">
      <section id="portfolio" class="portfolio">
        <div class="section-subtitle">
          Mening ishlarim
          <span class="blur-line"></span>
        </div>
        <div class="section-title">
          Mening oxirgi ishlarimni ko'ring
        </div>
        <ul class="portfolio-filters portfolio-item-1">
          <li class="active">Hammasi</li>
          <li>Mashhurlari</li>
          <li>Oxirgilari</li>
        </ul>
        <div class="portfolio-items">
          <div class="portfolio-item">
            <img src="./images/portfolio-1.jpg" alt="Portfolio image 1" class="portfolio-item__image">
            <div class="portfolio-item__overlay">
              <div class="portfolio-item__info">
                <h4>Portfolio item 1</h4>
                <p><a href="#">Ishim haqid</a></p>
              </div>
            </div>
          </div>
          <div class="portfolio-item portfolio-item-2">
            <img src="./images/portfolio-2.jpg" alt="Portfolio image 2" class="portfolio-item__image">
            <div class="portfolio-item__overlay">
              <div class="portfolio-item__info">
                <h4>Portfolio item 2</h4>
                <p><a href="#">Ishim haqida</a></p>
              </div>
            </div>
          </div>
          <div class="portfolio-item portfolio-item-3">
            <img src="./images/portfolio-3.jpg" alt="Portfolio image 3" class="portfolio-item__image">
            <div class="portfolio-item__overlay">
              <div class="portfolio-item__info">
                <h4>Portfolio item 3</h4>
                <p><a href="#">Ishim haqida</a></p>
              </div>
            </div>
          </div>

        </div>
      </section>
    </div>
    <!-- XXX: /Portfolio section -->

    <!-- XXX: Blog section -->
    <div class="container">
      <section id="blog" class="blog">
        <div class="section-subtitle">
          Mening blogim
          <span class="blur-line"></span>
        </div>
        <div class="section-title">
          Oxirgi maqolalarim
        </div>
        <div class="blog-items">
          <div class="blog-item">
            <div class="blog-item__image">
              <img src="./images/blog-1.jpg" alt="Blog 1 image">
            </div>
            <div class="blog-item__info">
              <div class="blog-item__main-info">
                <span class="blog-item__author">
                  <i class="fa-solid fa-user"></i>
                  Admin post
                </span>
                <span class="blog-item__date">
                  <i class="fa-solid fa-calendar-days"></i>
                  Feb 5, 2021
                </span>
              </div>
              <h5 class="blog-item__title">
                Mening maqolam...
              </h5>
              <p class="blog-item__description">Have whose a two night earth she set you creeping replenish place whales move Forth first him seed green.</p>
              <a href="#" class="blog-item__learn-more">Ko'proq o'qish</a>
            </div>
          </div>
          <div class="blog-item">
            <div class="blog-item__image">
              <img src="./images/blog-2.jpg" alt="Blog 2 image">
            </div>
            <div class="blog-item__info">
              <div class="blog-item__main-info">
                <span class="blog-item__author">
                  <i class="fa-solid fa-user"></i>
                  Admin post
                </span>
                <span class="blog-item__date">
                  <i class="fa-solid fa-calendar-days"></i>
                  Feb 5, 2021
                </span>
              </div>
              <h5 class="blog-item__title">
                Mening maqolam...
              </h5>
              <p class="blog-item__description">Have whose a two night earth she set you creeping replenish place whales move Forth first him seed green.</p>
              <a href="#" class="blog-item__learn-more">Ko'proq o'qish</a>
            </div>
          </div>
          <div class="blog-item">
            <div class="blog-item__image">
              <img src="./images/blog-3.jpg" alt="Blog 3 image">
            </div>
            <div class="blog-item__info">
              <div class="blog-item__main-info">
                <span class="blog-item__author">
                  <i class="fa-solid fa-user"></i>
                  Admin post
                </span>
                <span class="blog-item__date">
                  <i class="fa-solid fa-calendar-days"></i>
                  Feb 5, 2021
                </span>
              </div>
              <h5 class="blog-item__title">
                Mening maqolam...
              </h5>
              <p class="blog-item__description">Have whose a two night earth she set you creeping replenish place whales move Forth first him seed green.</p>
              <a href="#" class="blog-item__learn-more">Ko'proq o'qish</a>
            </div>
          </div>
        </div>
      </section>
    </div>
    <!-- XXX: /Blog section -->

    <!-- XXX: Partners section -->
    <div class="container">
      <section id="partners" class="partners">
        <div class="partner">
          <img src="./images/partner-1.png" alt="partner 1">
        </div>
        <div class="partner">
          <img src="./images/partner-2.png" alt="partner 1">
        </div>
        <div class="partner">
          <img src="./images/partner-3.png" alt="partner 1">
        </div>
        <div class="partner">
          <img src="./images/partner-4.png" alt="partner 1">
        </div>
        <div class="partner">
          <img src="./images/partner-5.png" alt="partner 1">
        </div>
      </section>
    </div>
    <!-- XXX: Partners section -->
    <footer class="footer">
      <nav>
        <ul class="footer-ul">
          <li>
            <a href="#">Asosiy</a></li>
          <li>
            <a href="#">Men haqimda</a>
          </li>
          <li>
            <a href="#">Xizmatlar</a>
          </li>
          <li>
            <a href="#">Mizojlar</a>
          </li>
          <li>
            <a href="#">Portfolio</a>
          </li>
          <li>
            <a href="#">Blog</a>
          </li>
          <li>
            <a href="#">Sheriklar</a>
          </li>
        </ul>
      </nav>
    </footer>
    {% block content %}
    {% endblock content %}
  </body>
</html>
