<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="./css/main1.css">
  </head>
  <body>
    {% extends 'base.html' %}
    {% block content %}
    <form class="form" action="index.html" method="get">
      <input class="i u m" type="text" name="username" placeholder="username"> <br>
      <input type="text" class="i inline-block__input" name="forstname" placeholder="forstname"> <br>
      <input type="email" class="i inline-block__input" name="email" placeholder="email">
      <input class="i inline-block__input m" type="password" name="password" placeholder="password"> <br>
      <button class="b" type="button" name="button">login</button> <br>
      <p class="p">Register?</p>
      <a class="a" href="sign.html">Sign</a>
      <a class="return a" href="index.html">Return</a>
    </form>
    {% endblock content %}
  </body>
</html>
