<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>sahifa</title>
    <link rel="stylesheet" type="text/css" href="{% static '/semantic-ui/semantic.min.css' %}">
  </head>
  <body>
  <img class="ui small image" src="./images/rang.jpg" alt="rasmmmmm bor">


    <div class="ui pointing menu">
  <a class="active item"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
    Uy
  </font></font></a>
  <a class="item"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
    Xabarlar
  </font></font></a>
  <a class="item"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
    Do'stlar
  </font></font></a>
  <div class="right menu">
    <div class="item">
      <div class="ui transparent icon input">
        <input name="qiduruv" type="text" placeholder="Qidirmoq...">
        <i class="search link icon"></i>
      </div>
    </div>
  </div>
</div>
<div class="ui segment">
  <p></p>
</div>

    <div class="ui segment">
      <img class="ui small left floated image" src="https://www.w3schools.com/howto/img_forest.jpg">
      <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Bu eum doming eirmod, nominati pertinacia argumentum ad un. </font><font style="vertical-align: inherit;">Ex eam a facete scriptorem, est autem aliquip detraxit at. </font><font style="vertical-align: inherit;">Usu ocurreret referrentur at, cu epicurei appellantur vix. </font><font style="vertical-align: inherit;">Cum ea laoreet recteque electram, eos choro alterum definiebas in. Vim dolorum definiebas an. </font><font style="vertical-align: inherit;">Mei ex natum rebum iisque.</font></font></p>
      <img class="ui small right floated image" src="https://www.w3schools.com/howto/img_forest.jpg">
      <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Audiam quaerendum eu sea, pro omittam definiebas ex. </font><font style="vertical-align: inherit;">Lotin ta'riflari. </font><font style="vertical-align: inherit;">Quot wisi nulla ex duo. </font><font style="vertical-align: inherit;">Vis sint solet expetenda na, uning te phaedrum referrentur consectetuer. </font><font style="vertical-align: inherit;">Id vix fabulas oporteat, ei quo vide phaedrum, vim vivendum mayestatis in.</font></font></p>
       <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Eu quo homero blandit intellegebat. </font><font style="vertical-align: inherit;">Noto'g'ri identifikator. </font><font style="vertical-align: inherit;">Mei ut facer dolores adolescens, no illum aperiri quo, usu odio brute at. </font><font style="vertical-align: inherit;">Qui te porro electram, ea dico facete utroque quo. </font><font style="vertical-align: inherit;">Populo quodsi te eam, wisi everti eos ex, eum elitr altera utamur at. </font><font style="vertical-align: inherit;">Quodsi convenire mnesarchum eu per, quas minimum postulant per id.</font></font></p>
    </div>
  </body>
</html>
